<header [ngClass]="headerClass">
  <a href="/" class="logo">
    <img class="img-logo" src="../../assets/logos/mana-logo.png" alt="" />
  </a>
  <button class="mobile-menu-toggle" (click)="toggleMobileMenu()">☰</button>
  <nav class="navigation" [class.active]="mobileMenuOpen">
    <ul class="nav-list">
      <div class="mob-logo-div">
        <img
          class="mob-logo"
          src="../../assets/logos/mana-logo.png"
          alt=""
        />
      </div>

      <li>
        <a
        [class.active-link]="isActive('discover-jardin-neo')"
        (click)="navigateTo('discover-jardin-neo'); $event.preventDefault()"
        >Discover Jardin Neo</a
      >
      
      </li>
      <li>
        <a
          [class.active-link]="isActive('plans')"
          (click)="navigateTo('plans'); $event.preventDefault()"
          >Plans</a
        >
      </li>
      <li>
        <a
        [class.active-link]="isActive('vr')"
        (click)="navigateTo('vr'); $event.preventDefault()"
          >VR</a
        >
      </li>
      <li>
        <a
          [class.active-link]="isActive('blog')"
          (click)="navigateTo('blog'); $event.preventDefault()"
          >Blog</a
        >
      </li>

      <li>
        <a
          [class.active-link]="isActive('buyers-guide')"
          (click)="navigateTo('buyers-guide'); $event.preventDefault()"
          >Buyer’s Guide </a
        >
      </li>
      <li>
        <a
          [class.active-link]="isActive('about-us')"
          (click)="navigateTo('about-us'); $event.preventDefault()"
          >About Us </a
        >
      </li>
      <li>
        <a
          [class.active-link]="isActive('contact-us')"
          (click)="navigateTo('contact-us'); $event.preventDefault()"
          >Contact Us </a
        >
      </li>
      <button class="mob-book-btn">Book a visit</button>
      <button class="close-menu-btn" (click)="closeMobileMenu()">
        <i class="material-icons">close</i>
      </button>
    </ul>
  </nav>
  <button class="desk-book-btn">Book a visit</button>

</header>
