<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <img src="../../assets/logos/mana-logo.png" alt="Mana Jardin NEO logo" />
      <p>© 2024 Copyright, All Right Reserved. </p>
      <p>Mana Jardin Neo. </p>
      <p>Powered by Credvest India Pvt Ltd </p>

    </div>
    <div class="footer-block">
      <h4 class="head">Pages</h4>
      <ul class="lists list1">
        <li><a href="#">Home</a></li>
        <li><a href="#">Discover Mana Jardin NEO</a></li>
        <li><a href="#">Plans</a></li>
        <li><a href="#">VR</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Buyers Guide</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
    <div class="footer-block">
      <h4 class="head">Legal</h4>
      <ul class="lists list2">
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">FAQs</a></li>
      </ul>
    </div>
    <div class="footer-block">
      <h4 class="head">Contact Us</h4>
      <div class="list3">
        <p>mailid&#64;manajardinneo.com</p>
        <p>+91 9087654321</p>
      </div>
    </div>
    <div class="footer-block">
      <h4 class="head">Social Media</h4>
      <ul class="lists list4">
        <li>
          <img src="../../assets/icons/insta.svg" alt="" />
          <a href="https://instagram.com">Instagram</a>
        </li>
        <li>
          <img src="../../assets/icons/facebook.svg" alt="" />
          <a href="https://facebook.com">Facebook</a>
        </li>
        <li>
          <img src="../../assets/icons/twitter.svg" alt="" />
          <a href="https://twitter.com">Twitter</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
