<section  class="section section1">
    <div class="content">
      <div class="text-overlay">
          <h2>Who are we</h2>
      </div>
    </div>
</section>

<section class="section section2">
    <div class="align">
      <div class="logo-container">
        <img class="logo" src="../../../assets/logos/mana-black-logo.png" alt="mana-logo" />
      </div>
      <div #featureContentContainer class="feature-content-container">
        <div class="feature">
          <h1 class="value">23+</h1>
          <p class="feature-text">Years of Experience</p>
        </div>
        <div class="feature">
          <h1 class="value">29+</h1>
          <p class="feature-text">Projects</p>
        </div>
        <div class="feature">
          <h1 class="value">7000+</h1>
          <p class="feature-text">Happy Clients</p>
        </div>
        <div class="feature">
          <h1 class="value">8M+</h1>
          <p class="feature-text">SQ Feet Delivered</p>
        </div>
        <div class="feature">
          <h1 class="value">1000+</h1>
          <p class="feature-text">Staff & Contractors</p>
        </div>
      </div>
      <p class="desc">
        Our success as one of the leading builders in Bengaluru is not solely
        based on designing luxurious concrete apartments. Our main focus is on
        transforming the real estate industry by providing a unique customer
        experience. Although it is a challenging task, we believe it is achievable
        to meet the expectations of our clients. <br /><br /> Established in 2000, we have
        become a reputable construction company in Bengaluru, offering services in
        property development, construction, and infrastructure projects.
      </p>
    </div>
  </section>

  <section class="section section3">
    <div class="align">
        <div class="top">
             <h2>Project Specs Title</h2>
             <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod numquam iste dicta sequi autem in perspiciatis obcaecati sint ipsa nostrum.</p>
        </div>
        <div class="middle">


        </div>
        <div class="bottom">
            <div class="left">
            <img src="../../assets/images/Project.png" alt="">
            </div>
            <div class="right">
                <div class="text">
                    <img src="../../assets/icons/tick.svg" alt="">
                    <p>RCC Framed Structure with RCC walls.</p>
                </div>
                <div class="text">
                    <img src="../../assets/icons/tick.svg" alt="">
                    <p>Open kitchen concept.</p>
                </div>
                <div class="text">
                    <img src="../../assets/icons/tick.svg" alt="">
                    <p>Walls 160mm thick.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section4">
    <div class="align">
        <h1 class="title">Enquire Now</h1>
        <div class="contact-container">
            <app-contact-us />
        </div>
    </div>
</section>

<app-footer></app-footer>