.section{
    background-color: #FFF6E5;
    padding: 200px 0;
    position: relative;
}
.logo{
    width: 200px;
    height: fit-content;
    margin-bottom: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
}
.align{
    text-align: center;
    line-height: 1.6;
    font-size: 18px;
    padding: 0 6%;
    box-sizing: border-box;
}
@media (max-width: 768px){
    .align{
        padding: 0 0;
    }
    
}