<section class="section">
  <div class="align">
    <div class="contents">
      <!-- <div class="video-container">
                <video class="video" src="../../../assets/videos/video.mp4"></video>
            </div> -->
      <h1 class="hero-title">Mana Jardin Neo: A New Vision of Luxury Living</h1>
      <p class="hero-desc">
        Discover the epitome of elegance at Mana Jardin Neo, where innovative
        design meets the serenity of nature. Our exclusive community offers a
        retreat into a world of calm, coupled with the modern amenities that
        define sophisticated living.
      </p>
      <button class="explore-btn">Explore Mana Jardin Neo</button>
    </div>
  </div>
  <div class="bg-img-div">
    <img
      class="bg-img"
      src="../../../assets/images/home-s1-bg.webp"
      alt="hero-image"
    />
  </div>
</section>
