<section class="section">
    <!-- <img class="bg-img" src="../../../assets/images/s3-bg.png" alt=""> -->
    <div class="align">
        <h1 class="title">View from towers</h1>
        <div class="grid-container">
            <div class="grid-item">
                <div class="video-container">
                    <video
                      autoPlay
                      loop
                      muted
                      playsInline
                      class="video"
                      src="../../../assets/videos/video.mp4"
                    ></video>
                </div>
              <p>Altezza</p>
            </div>
            <div class="grid-item">
                <div class="video-container">
                    <video
                      autoPlay
                      loop
                      muted
                      playsInline
                      class="video"
                      src="../../../assets/videos/video.mp4"
                    ></video>
                </div>
              <p>Ostrov</p>
            </div>
          </div>

    </div>

</section>