<section class="section">
    <!-- <img class="bg-img" src="../../../assets/images/s3-bg.png" alt=""> -->
    <div class="align">
        <h1 class="title">Discover Mana Jardin Jeo Homes</h1>
        <p class="desc">Introducing Jardin Neo, an exquisite residential enclave, luxury apartments
            near Wipro, meticulously crafted for the discerning few, nestled within this
            exclusive complex, boasting a mere 80 residences. A G+ 21 apartment
            structure in Sarjapur, Bangalore, with variations of 3/4/5 BHK, that comes
            with 3 parking spaces, presidential penthouses, and is packaged with the
            best of what life has to offer.</p>
            <button class="discover-btn">Discover Jardin Neo</button>

    </div>
</section>