<section  class="section section1">
    <div class="content">
      <div class="text-overlay">
          <div class="left">
              <h4>EXPLORE MANA JARDIN NEO</h4>
              <h2>Some heading about the virtual our</h2>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur, numquam.</p>
              <button class="tour-btn">
                Enter Tour
              </button>
          </div>
          <div class="right">
            <img src="../../assets/images/vr-tour.png" alt="">
          </div>
      </div>
    </div>
</section>
