<section  class="section section1">
  <div class="content">
    <div class="text-overlay">
        <h2>Blogs</h2>
    </div>
  </div>
</section>

<section class="section section2">
    <div class="align">
        <h2>Our works describe why we are the best in the business</h2>
        <div class="titles" >
            <div class="title title1" (click)="navigateToBlog(1)">
                <img src="../../../assets/images/title1.png" alt="">
                <div class="text">
                    <p>Graphic Design</p>
                    <h3>Blog Title One</h3>
                </div>
            </div>
            <div class="title title2" (click)="navigateToBlog(2)">
                <img src="../../../assets/images/title2.png" alt="">
                <div class="text">
                    <p>Graphic Design</p>
                    <h3>Blog Title Two</h3>
                </div>
            </div>
            <div class="title title3" (click)="navigateToBlog(3)">
                <img src="../../../assets/images/title3.png" alt="">
                <div class="text">
                    <p>Graphic Design</p>
                    <h3>Blog Title Three</h3>
                </div>
            </div>
            <div class="title title4" (click)="navigateToBlog(4)">
                <img src="../../../assets/images/title4.png" alt="">
                <div class="text">
                    <p>Graphic Design</p>
                    <h3>Blog Title Four</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <app-footer></app-footer> -->
