.section{
    width: 100%;
    padding: 0;
}

.section1 {
    
    h2 {
      font-size: 76px;
    }
    .text-overlay {
        z-index: 4;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around; // changed from space-around for consistent alignment
        align-items: center;
        color: white; /* Choose text color that contrasts with your image */
        font-size: 20px; /* Adjust size as needed */
        /* Optionally add more styling here to customize the appearance */
        padding: 2em; // Added padding for aesthetics
        box-sizing: border-box; // Ensures padding does not affect width
        gap: 40px;
      }
  .content {
    height: 100%;
    background-image: url("../../../assets/images/blog.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    position: relative; /* Ensure this container is positioned to act as the anchor for the absolutely positioned ::before */
  }
}


.section2{
    padding-top: 100px;
    background-color: #FFF6E5;
    img{
        border-radius: 10px;
    }
    .align{
        width: 70%;
        text-align: -webkit-center;
    }
    h2{
        font-size: 36px;
        padding-bottom: 80px;
        text-align: center;
        width: 40%;
    }
    .text{
        padding: 20px 0px 0px 20px;
        p{
            padding-bottom: 20px;
        }
    }
    .titles{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 100px;
        max-width: 1200px;
    }
    .title4{
        position: relative;
        bottom: 190px;
    }
    .title{
        cursor: pointer;
        img {
            transition: transform 0.3s ease; /* Smooth transition for transform property */
          }
          
          img:hover {
            transform: scale(1.03); /* Scale image up slightly on hover */
          }
    }
}

@media (max-width: 1600px) {
.section2{
    .align{
        width: 100%;
    }
}
}
@media (max-width: 1185px){
.section2{
    .titles{
        flex-direction: column;
    }
    .title4{
        bottom: 0;
    }
    .title1,.title4{
        img{
            height: 350px;
            width: 510px;
        }
    }
    h2{
        width: 60%;
    }
}
}
@media (max-width: 768px){
    .section1{
        h2{
            font-size: 60px;
        }
    }

}
@media (max-width: 550px){
    .section1{
        h2{
            font-size: 40px;
        }
    }
    .section2{
        h2{
            width: 90%;
            font-size: 26px;
        }
        img{
            width: 80% !important;
            height: 240px !important;
        }
    }

}