<section class="section">
    <div class="align">
      Introducing Jardin Neo, an exquisite residential enclave, luxury apartments
      near Wipro, meticulously crafted for the discerning few, nestled within this
      exclusive complex, boasting a mere 80 residences. A G+ 21 apartment
      structure in Sarjapur, Bangalore, with variations of 3/4/5 BHK, that comes
      with 3 parking spaces, presidential penthouses, and is packaged with the
      best of what life has to offer.
    </div>
  </section>
