* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/gilroy/Gilroy-Light.ttf") format("truetype");
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/gilroy/Gilroy-LightItalic.ttf") format("truetype");
  font-weight: 300; /* Light */
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/gilroy/Gilroy-RegularItalic.ttf") format("truetype");
  font-weight: normal; /* Regular */
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/gilroy/Gilroy-MediumItalic.ttf") format("truetype");
  font-weight: 500; /* Medium */
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/gilroy/Gilroy-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600; /* SemiBold */
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/gilroy/Gilroy-BoldItalic.ttf") format("truetype");
  font-weight: bold; /* Bold */
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/gilroy/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800; /* ExtraBold */
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/gilroy/Gilroy-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800; /* ExtraBold */
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/gilroy/Gilroy-Black.ttf") format("truetype");
  font-weight: 900; /* Black */
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/gilroy/Gilroy-BlackItalic.ttf") format("truetype");
  font-weight: 900; /* Black */
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/gilroy/Gilroy-Heavy.ttf") format("truetype");
  font-weight: 950; /* Heavy */
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/gilroy/Gilroy-HeavyItalic.ttf") format("truetype");
  font-weight: 950; /* Heavy */
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/gilroy/Gilroy-Thin.ttf") format("truetype");
  font-weight: 100; /* Thin */
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/gilroy/Gilroy-ThinItalic.ttf") format("truetype");
  font-weight: 100; /* Thin */
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/gilroy/Gilroy-UltraLight.ttf") format("truetype");
  font-weight: 200; /* UltraLight */
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/gilroy/Gilroy-UltraLightItalic.ttf")
    format("truetype");
  font-weight: 200; /* UltraLight */
  font-style: italic;
}

@font-face {
  font-family: "Lunative";
  src: url("/assets/fonts/lunative/Lunative.otf") format("opentype");
  font-weight: normal; /* You can specify the weight if you know it, otherwise 'normal' */
  font-style: normal; /* You can specify the style if you know it, otherwise 'normal' */
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lunative";

  font-weight: 600;
}
p {
    font-family: "Gilroy";
}
body {
  font-family: "Gilroy";
}
button {
  font-family: "Gilroy";
}
.section {
  padding: 100px 0;
  width: 100%;
}
.align {
  width: 80%;
  margin: auto;
}
@media (max-width: 768px) {
  .align {
    width: 90%;
  }
}
