
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mana-jardin-neo-primary: mat.define-palette(mat.$indigo-palette);
$mana-jardin-neo-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$mana-jardin-neo-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$mana-jardin-neo-theme: mat.define-light-theme((
  color: (
    primary: $mana-jardin-neo-primary,
    accent: $mana-jardin-neo-accent,
    warn: $mana-jardin-neo-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($mana-jardin-neo-theme);

* {
  margin: 0;
  padding: 0;
}
body{
  overflow-x: hidden;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/gilroy/Gilroy-Light.ttf") format("truetype");
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/gilroy/Gilroy-LightItalic.ttf") format("truetype");
  font-weight: 300; /* Light */
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/gilroy/Gilroy-RegularItalic.ttf") format("truetype");
  font-weight: normal; /* Regular */
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/gilroy/Gilroy-MediumItalic.ttf") format("truetype");
  font-weight: 500; /* Medium */
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/gilroy/Gilroy-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600; /* SemiBold */
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/gilroy/Gilroy-BoldItalic.ttf") format("truetype");
  font-weight: bold; /* Bold */
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/gilroy/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800; /* ExtraBold */
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/gilroy/Gilroy-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800; /* ExtraBold */
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/gilroy/Gilroy-Black.ttf") format("truetype");
  font-weight: 900; /* Black */
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/gilroy/Gilroy-BlackItalic.ttf") format("truetype");
  font-weight: 900; /* Black */
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/gilroy/Gilroy-Heavy.ttf") format("truetype");
  font-weight: 950; /* Heavy */
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/gilroy/Gilroy-HeavyItalic.ttf") format("truetype");
  font-weight: 950; /* Heavy */
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/gilroy/Gilroy-Thin.ttf") format("truetype");
  font-weight: 100; /* Thin */
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/gilroy/Gilroy-ThinItalic.ttf") format("truetype");
  font-weight: 100; /* Thin */
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/gilroy/Gilroy-UltraLight.ttf") format("truetype");
  font-weight: 200; /* UltraLight */
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/gilroy/Gilroy-UltraLightItalic.ttf")
    format("truetype");
  font-weight: 200; /* UltraLight */
  font-style: italic;
}

@font-face {
  font-family: "Lunative";
  src: url("/assets/fonts/lunative/Lunative.otf") format("opentype");
  font-weight: normal; /* You can specify the weight if you know it, otherwise 'normal' */
  font-style: normal; /* You can specify the style if you know it, otherwise 'normal' */
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lunative";

  font-weight: 600;
}
p {
    font-family: "Gilroy";
}
li{
    font-family: "Gilroy";

}
body {
  font-family: "Gilroy";
}
button {
  font-family: "Gilroy";
}
.section {
  padding: 100px 0;
  width: 100%;
}
.align {
  width: 80%;
  margin: auto;
}
@media (max-width: 768px) {
  .align {
    width: 90%;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
