<!-- <app-header /> -->
<app-home-section-1 />
<app-home-section-2 />
<app-home-section-3 />
<app-home-section-4 />
<div style="background-color: white; overflow: hidden; height: 100%; width: 100%; padding: 100px 0;">
    <h1 style="margin: auto; width: fit-content; margin-bottom: 10px;"> Gallery</h1>
    <p style="margin: auto; width: fit-content;">The best homes to live</p>
    <app-home-section-5  />
</div>
<app-home-section-6 />
<app-home-section-7 />
<app-home-section-8 />
<app-home-section-9 />

