<section class="section section1">
    <div class="align">
        <div class="top">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, deleniti. Doloremque repudiandae fuga in laborum sit deleniti adipisci quos nemo alias consectetur, error, amet voluptatum ad iure aut quis dignissimos eum labore iusto delectus dolorum. Excepturi nemo odit maxime ipsa!</p>
        </div>
        <div class="bottom">
            <div class="image-container">
                <img src="../../assets/images/plans3.png" alt="ZION Bedroom">
                <div class="text-overlay">
                    <div class="title">ZION</div>
                    <div class="bhk">3 BHK</div>
                </div>
            </div>
            <div class="image-container">
                <img src="../../assets/images/plans2.png" alt="ZION Bedroom">
                <div class="text-overlay">
                    <div class="title">MANSIO</div>
                    <div class="bhk">4 BHK</div>
                </div>
            </div>
            <div class="image-container">
                <img src="../../assets/images/plans1.png" alt="ZION Bedroom">
                <div class="text-overlay">
                    <div class="title">NIRVANA</div>
                    <div class="bhk">5 BHK</div>
                </div>
            </div>
        </div>
    </div>
</section>

