<section class="section section1">
    <div class="align">
        <h1 class="title">Enquire Now</h1>
        <div class="contact-container">
            <app-contact-us />
        </div>
    </div>
</section>

<section class="section section2">
    <div class="align">
        <div class="left">
        <img src="../../assets/images/contact.png" alt="">
        </div>
        <div class="right">
            <h2>Meet Us</h2>
            <div class="text text1">
                <h4>Site Address</h4>
                <p>Near Wipro SEZ, Sarjapur Main Road, Hadosiddapura, Kadubeesanahalli, Chikkakannalli, Bengaluru, Karnataka 560099</p>
                <p class="num">+91 9876543210</p>
                <p class="map-link">View in maps</p>
            </div>
            <div class="text text2">
                <h4>Corporate Address</h4>
                <p>Near Wipro SEZ, Sarjapur Main Road, Hadosiddapura, Kadubeesanahalli, Chikkakannalli, Bengaluru, Karnataka 560099</p>
                <p class="num">+91 9876543210</p>
                <p class="map-link">View in maps</p>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>
